.header {
	grid-area: h;
	background-color: green;
}

.header img {
	width: 50px;
}

.loginBlock {
	float: right;
}

.loginBlock a {
	color: white;

}

.text {
	color:#fff;
	display: inline-block;
	margin: 0 5px;
}
