.app-wrapper {
	display: grid;
	width: 1200px;
	position: relative;
	margin: 0 auto;
	grid-template-areas: "h h" "n c";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;

	/*grid-gap: 10px;*/
}

.app-wrapper-content {
	grid-area: c;
	background-color: cornflowerblue;
}


.logo {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}